<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Reward</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.text %></td>
        <td><%= goal.reward %></td>
        <td><%= link_to 'Show', [goal.character, goal] %></td>
        <td><%= link_to 'Edit', edit_character_goal_path(goal.character, goal) %></td>
        <td><%= link_to 'Destroy', [goal.character, goal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_character_goal_path(@character) %>
