<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @goal.text %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @goal.reward %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
