<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @goal.text %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @goal.reward %>
</p>

<%= link_to 'Edit', edit_character_goal_path(@character, @goal) %> |
<%= link_to 'Back', character_goals_path(@character) %>
